#!/usr/bin/env bash
export DEBUG=1
export SECRET_KEY='hashgraphhub-tutorial'
export DJANGO_ALLOWED_HOSTS=* localhost 127.0.0.1 [::1]
export OPERATOR_ID=0.0.7102763
export OPERATOR_KEY=302a300506032b65700321000790d44c20a37ebe2f88030c7f16531bf7fda9526079f063da6d4f8eaa98b034
export OPERATOR_PRIVATE_KEY=302e020100300506032b65700422042085e1f0617d29e2290fd1e19b5fc61df5a25687a50aaeb9378bf316edb24fdde1
export HEDERA_ENV=testnet
export LOGFILEPATH=logs/api.log
export CELERYLOGFILEPATH=logs/celery.log
export CELERY_BACKEND=django-db

export DB_ENGINE=django.contrib.gis.db.backends.postgis
export DB_USER=dev
export DB_PASSWORD=dev
export DB_HOST=db
export DB_NAME=dev
export DB_PORT=5432

export SUPER_USER_NAME=***
export SUPER_USER_PASSWORD=***
export SUPER_USER_FIRST_NAME=***
export SUPER_USER_LAST_NAME=***

export SUPPORT_EMAIL=***
export DONOT_REPLY_EMAIL=***
export EMAIL_PASSWORD=***
export EMAIL_HOST=smtp.gmail.com
export EMAIL_PORT=587
export EMAIL_USE_TLS=1
export EMAIL_DISPLAY_NAME=HashGraphHub
